@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 20, 22);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: fit-content;
    background-color: rgb(33, 33, 36);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.267);
    border: 1px solid #37373a98;
    border-radius: 20px;
    overflow: hidden;
    padding: 1%;
}

h1 {
    font-family: "Tiny5", sans-serif;
    color: white;
}

#optionContainer {
    position: absolute;
    left: 5vw; bottom: 5vw;
    width: max(15%, 150px);
}

#optionContainer h1 {
    font-size: max(2vw, 22px);
    text-align: center;
    text-shadow: -2px 2px red;
}

#optionContainer h2 {
    font-family: "Roboto Mono", monospace;
    font-size: .5vw;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2rem;
    color: rgb(209, 209, 209);
    margin: .8vw 0 0 0;
    background-color: rgb(211, 0, 0);
    width: fit-content;
    border-radius: 8px 8px 0 0;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.267);
    padding: .1vw .4vw;
}

#optionContainer .options {
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: .8vw 0;
    border-radius: 0 10px 10px 10px;
    border: 1px solid #37373a98;
}

.tools {
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.267);
}

#tips {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.267);
    background-color: #2f2f31;
}

#optionContainer img {
    width: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    padding: 3%;
    margin: 5px;
}

#rainbow, #monochromatic, #opacity {
    transform: rotate(45deg);
}

#rainbow {
    background: linear-gradient(217deg, rgba(255,0,0), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgb(166, 255, 0), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgb(0, 217, 255), rgba(0,0,255,0) 70.71%);
}

#monochromatic {
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.596) 0%, rgb(194, 2, 2) 100%);
}

#opacity {
    background: radial-gradient(ellipse at left bottom, #000 0%, #d6d6d6 100%);
}

#eraser {
    background-color: rgb(102, 102, 102);
}

#optionContainer img:hover {
    cursor: pointer;
    border: 2px solid #37373a;
}

.selected {
    border: 2px solid red;
}

#optionContainer p {
    font-family: "Roboto Mono", monospace;
    font-size: .5vw;
    color: rgb(139, 134, 134);
    text-transform: uppercase;
    line-height: 1.6;
    text-align: justify;
    padding: 0 7%;
}

#etchContainer {
    width: max(40%, 400px);
}

#title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1vw;
}

#title h1 {
    font-size: max(4vw, 44px);
    text-shadow: -3px 3px red;
}

#resetBtn {
    background-color: red;
    border: max(.4em, 4px) solid rgb(211, 0, 0);
    border-radius: 100%;
    height: max(4vw, 55px);
    width: max(4vw, 55px);
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: max(.8vw, 10px);
}

#resetBtn:hover {
    background-color: rgb(211, 0, 0);
    color: rgb(226, 226, 226);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.267);
    cursor: pointer;
}

#etchBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    gap: .2%;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.pixelBlock {
    flex: 1 1;
    background-color: #37373a;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    opacity: 1;
}

.rainbowPixel {
    /* background-color: rgb(207, 179, 16);
    box-shadow: 0px 0px 20px rgb(255, 217, 0); */
}

.monochromaticPixel {
    /* background-color: rgb(255, 25, 25);
    box-shadow: 0px 0px 20px red; */
}

.opacityPixel {
    /* background-color: rgb(25, 173, 50);
    box-shadow: 0px 0px 20px rgb(0, 255, 34); */
}

.popUp {
    width: max(25%, 380px);
    height: max(15%, 120px);
    top: 40%;
    padding: 1%;
    background-color: rgb(35, 35, 39);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.267);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    border: 1px solid #37373a98;
}

.popUp h1 {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: .18rem;
    margin-bottom: .5vw;
    font-size: max(1.6vw, 22px);
}

.popUp input {
    background-color: #37373a;
    height: 35px;
    width: max(10vw, 145px);
    border : none;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.384);
    padding: 15px;
    color: rgb(172, 172, 172);
}

.popUp button {
    width: max(10vw, 145px);
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: red;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.267);
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.popUp button:hover {
    background-color: rgb(211, 0, 0);
}

.popUp #closeBtn {
    width: max(1vw, 15px);
    height: max(1vw, 15px);
    border-radius: 100%;
    position: relative;
    top: -3vh; left: 1vw;
    background-color: #37373a;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.267);
    color: #59595e;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 1vw; right: 1vw;
    font-family: 'Courier New', Courier, monospace;
    color: #59595e;
    font-size: max(.5vw, 7px);
    text-transform: uppercase;
    letter-spacing: .1rem;
}

footer a {
    font-family: "Archivo Black", sans-serif;
    text-decoration: none;
    color: rgba(211, 0, 0, 0.548);
}